* {
    margin : 0;
    padding: 0;
    /* font-family: 'Anton', sans-serif; */
    font-family: 'Fjalla One', sans-serif;

}
h2 {
    color: white;

}
body {
    display: block;
    justify-content: center;
    align-items: center;

    background-color: black;
}
header {
    background-color: black;
    display: flex;
    justify-content: center;
    color: white;
    border :none;
}
span {
    color:white
}

.name {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5%;
}

.page {
    display: flex;
    justify-content: space-around;
    align-items: center;
    border: none;
    height: 500px;
}
.page2{
    display: flex;
    justify-content: space-around;
    text-align: center;
    padding: 50px;
    height: 500px;
}



.div{
    width:30%;
    height:40%;
    position:relative;
    border: none;
}

.div2{
    width:30%;
    height:60%;
    position:relative;
    border: none;
}

.div3{
margin-left: 45%;
}

.styled {
    border: 0;
    line-height: 2.5;
    padding: 0 20px;
    font-size: 1rem;
    text-align: center;
    color: #fff;
    text-shadow: 1px 1px 1px #000;
    border-radius: 10px;
    background-color: rgba(220, 0, 0, 1);
    background-image: linear-gradient(to top left,
                                      rgba(0, 0, 0, .2),
                                      rgba(0, 0, 0, .2) 30%,
                                      rgba(0, 0, 0, 0));
    box-shadow: inset 2px 2px 3px rgba(255, 255, 255, .6),
                inset -2px -2px 3px rgba(0, 0, 0, .6);
}

.styled:hover {
    background-color: rgba(255, 0, 0, 1);
}

.styled:active {
    box-shadow: inset -2px -2px 3px rgba(255, 255, 255, .6),
                inset 2px 2px 3px rgba(0, 0, 0, .6);
}

span:hover {
    color :goldenrod
}

h2:hover {
    color:red
}